

.BHOPAL{

    color: black;
    background-color: skyblue;
    text-align: center;
    font-size: 40px;
    /* text-decoration: line-through; */
    text-transform:uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:unset;
    word-spacing: 0.5cap;
    letter-spacing:0.5cap;

}

.NARMADAPURAM{

    color: black;
    background-color: skyblue;
    text-align: center;
    font-size: 40px;
    /* text-decoration: line-through; */
    text-transform:uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:unset;
    word-spacing: 0.5cap;
    letter-spacing:0.5cap;

}

