body {
    margin: 0;
    padding: 0;
    background: #e6d3d3;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.card {
    width: 260px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.date {
    font-size: 12px;
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px 0;
}

.footer div h3 {
    margin: 0;
}

.footer div p {
    margin: 0;
    font-size: 12px;
}

.pink {
    background: linear-gradient(to right, #08d3b1, #2bffed);
}

.orange {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.green {
    background: linear-gradient(to right, #11998e, #38ef7d);
}